/* 
*
*
LayOut design
*
*
*/
* {
  font-family: "Roboto", sans-serif;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}

.child-content {
  display: flex;
  flex-direction: column;
}
