.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 23%;
  height: 100vh;
  background-color: #d9d9d9;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #aab5ab;
  box-shadow: 8px 8px 2px rgba(170, 181, 171, 0.25);
}

.logo {
  min-height: 16.66vh;
  text-align: center;
  margin: 0 2rem 0 2rem;
}
.logo img {
  width: 4rem;
  margin: 2rem;
  border-radius: 6rem;
  box-shadow: 3px 8px 24px rgba(90, 217, 101, 0.5);
}
.nav-list {
  display: flex;
  flex-direction: column;
}
.nav-link {
  display: flex;
  column-gap: 0.5rem;
  min-height: 10vh;
  margin-top: 1rem;
  align-items: center;
  text-align: center;
  list-style: none;
  padding-left: 2rem;
  margin-top: 0;
}
.nav-icon img {
  width: 1.5rem;
  vertical-align: middle;
}
.nav-li {
  display: flex;
}
.nav-li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.nav-li button {
  border: none;
  background-color: inherit;
  padding-left: 1.5rem;
}
.nav-li img {
  width: 13px;
  padding-top: rem;
}
.nav-link:hover,
.nav-link.hover-effect {
  background-color: #aab5ab;
  transition: background-color 0.5s ease-out;
}
/* Sub-menu list */
.sub-list{
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  display: none;
  z-index: 99;
}

.sub-list a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding-bottom: 0.5rem;
}
.sub-list a:hover{
  background-color: #aab5ab;
}
/* 
Main Section
*/
/* Welcome Section */
.welcome-section {
  display: flex;
  flex-direction: column;
  min-height: 57.12vh;
  max-width: 70vh;
  margin: 1rem 0 0 1rem;
  border-radius: 1rem;
  box-shadow: 3px 2px 18px rgba(170, 181, 171, 0.5);
}
.welcome-section p {
  font-size: 25px;
  font-weight: 500;
  padding-left: 5rem;
  white-space: nowrap;
  overflow: hidden;
}
.list-link {
  display: flex;
  margin-left: 2rem;
  column-gap: 0.5rem;
  padding-bottom: 1rem;
  font-size: 18px;
  font-weight: 500;
}
.list-link img {
  width: 25px;
}
.list-link a {
  text-decoration: underline;
  color: #9c5151;
}
.list-link a:hover {
  color: blue;
}

